<!DOCTYPE html>
<html lang="ru" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>Chat page</title>
        <link rel="stylesheet" href="../css/chat_page.css" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    </head>
    <body>
        <div class="chat_main_container">
            <div class="chat_window_output">
                <b>Chat server:</b>
                <b>{{ serverMessage }}</b>
                <div id = "messages_box">
                    <p class="message" v-for="me in message">{{ me | reverse }}</p>
                </div>
            </div>
            <div class="chat_window_input">
                <textarea type="text" v-model="text" /></textarea>
            </div>
            <div class="send_button">
                <button @click="sendMessage">SEND</button>
            </div>
            <script src="../js/chat_page.js"></script>
    </body>
</html>