body{
    background:url('/alfa_chat/static/images/chat_page_background.jpg') no-repeat;
    background-size: 100%;
}
.chat_main_container {
    width: 75%;
    height: 20%;
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
    opacity: .9;
}
.chat_text_header{
    margin: 2%;
}
.chat_window_output{
    height: 250px;
    background-color: white;
    border-radius: 10px;
    opacity: .9;
    margin: 2%;
}
.chat_window_input{
    margin: 2%;
}
.send_button{
    margin: 2%;
}
#messages_box{
    height: 50%;
    overflow-y: visible;
    overflow-x: hidden;
    padding: 3%;
}
